fastapi==0.129.0
uvicorn==0.40.0
sqlalchemy==2.0.46
pydantic[email]==2.12.5
psycopg2-binary==2.9.11
pytest==9.0.2
httpx==0.28.1
passlib==1.7.4
bcrypt==5.0.0
cryptography==46.0.5
python-dotenv==1.2.1
redis==7.1.1
PyJWT==2.11.0
email-validator==2.3.0
slowapi==0.1.9
alembic==1.18.4
stripe==14.4.1
